.book-img {
  max-width: 80%;
  max-height: auto;
}

.btn-retailer {
  margin: 2%;
  margin-bottom: 4%;
  color: black !important;
  background-color: lightgray !important;
}

.cursive {
  font-family: "Yesteryear", cursive;
}
