.book-img {
  max-width: 80%;
  max-height: auto;
}

.btn-retailer {
  margin: 2%;
  margin-bottom: 4%;
  color: grey !important;
  background-color: #e6f7fd !important;
}

.cursive {
  font-family: "Yesteryear", cursive;
}
