.rec.rec-arrow {
  background-color: lightgrey;
  margin-left: 1em;
  margin-right: 1em;
}

.rec.rec-arrow:hover,
.rec.rec-arrow:active,
.rec.rec-arrow:focus {
  background-color: grey !important;
}

.rec.rec-dot {
  background-color: lightgrey;
  box-shadow: grey 0 0 1px 3px;
}

.rec.rec-dot:hover,
.rec.rec-dot:active,
.rec.rec-dot:focus {
  background-color: gray;
  box-shadow: gray 0 0 1px 3px;
}
