.greytext {
  color: grey;
}

.outermost {
  background-color: #e6f7fd;
  height: 100%;
}

.admin-btn {
  background-color: lightgray !important;
  color: black !important;
}
/*.admin-btn {
  background-color: #e6f7fd !important;
  color: grey !important;
}*/
