.navbar-text {
  color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-hallett {
  color: black;
}

.nav-lines:hover,
.nav-lines:active {
  color: black !important;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  padding: 0%;
}

.navbar {
  margin-bottom: 3%;
}
